<div class="stages-toolbar" data-stage-id="<%= stage.id %>">
			<div class="btn-group">
			<% if stage.status == "open" %>
				<a href="#" class="btn btn-danger" data-status="open"><i class="icon-check-empty"></i></a>
				<a href="#" class="btn" data-status="started"><i class="icon-time"></i></a>
				<a href="#" class="btn" data-status="finished"><i class="icon-check"></i></a>
			<% elsif stage.status == "started" %>
				<a href="#" class="btn" data-status="open"><i class="icon-check-empty"></i></a>
				<a href="#" class="btn btn-info" data-status="started"><i class="icon-time"></i></a>
				<a href="#" class="btn" data-status="finished"><i class="icon-check"></i></a>
			<% elsif stage.status == "finished" %>
				<a href="#" class="btn" data-status="open"><i class="icon-check-empty"></i></a>
				<a href="#" class="btn" data-status="started"><i class="icon-time"></i></a>
				<a href="#" class="btn btn-success" data-status="finished"><i class="icon-check"></i></a>
			<% end %>
			</div>
		</div>
		<% already_assigned = false %>
		<div class="assigned-to">
			<% stage.assignments.each do |assignment| %>
				<% if assignment.user.id == current_user.id %>
					<% already_assigned = true %>
				<% end %>
				<p>
					<%= assignment.user.username %>
					<% if already_assigned %>
						<%= link_to({:controller => "sprints", :action => "remove_assignment", :id => @sprint.id, :task_stage_id => stage.id}, {:class => 'btn-small'}) do %>
							<i class="icon-remove-circle"></i>
						<% end %>
					<% end %>
				</p>
			<% end %>
			<% if !already_assigned %>
				<%= link_to "Assign to Myself", :controller => "sprints", :action => "assign_stage", :id => @sprint.id, :task_stage_id => stage.id %>
			<% end %>
</div>