<h2>My Tasks</h2>
<table class="table">
	<thead>
		<tr>
			<td>Name</td>
			<td>Description</td>
			<td>Stage</td>
		</tr>
	</thead>
	<% @tasks.each do |task| %>
	<tr>
		<td><%= task.name %></td>
		<td><%= task.description %></td>
		<td></td>
		<td></td>
	</tr>
	<% end %>
</table>