<% if @sprint.nil? %>
	<div class="alert alert-info">
	    <strong>Heads up!</strong>
	    You currently do not have a sprint assigned to you. Please tell your Scrum Master or Product Owner you need some work.
	    <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
<% else %>
	<%= render :partial => 'sprints/storyboard' %>
<% end %>