/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

.btn-small {
	position:relative;
	top:-3.5px;
	float:right;
	vertical-align:middle;
	color:#c50000;
}

.btn-small:hover {
	text-decoration: none;
	color:#9e0000;
}

.btn-group-vertical { display:block; }
.btn-group-vertical + .btn-group-vertical { margin-top:5px; }
.btn-group-vertical .btn {
  display:block;
  width:100%;
  margin-top: 3px;
  padding-top:5px;
}

.task-status-select {
	width:100%;
}

.table tbody tr:hover td.not-required {
	background: #e9e9ef;
}

.table tbody tr td.not-required {
	background: #e9e9ef;
}

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}

.table td input[type=text] {
	width: 30px;
}

.stages-toolbar {
	width: 105px;
	margin-bottom:10px;
}

#burndown {
	width: 450px;
	height: 250px;
}

#percentage {
	margin-top:40px;
	line-height: 1em;
	font-size: 6em;
}

.points-summary {
	margin-top: 50px;
}

.dataTables_info {
	margin: 20px 0 30px 0;
}

.assigned-to {
	
}

td.row-actions-cell {
	width:28px !important;
}

.row-actions {
	width:10px;
}

#edit-task-modal {
	width: 900px;
	margin-left: -450px;
}

p.assigned-name {
	margin-top:8px;
}

/*

.table tbody tr:hover td.open {
	background: #f78282;
}

.table tbody tr td.open {
	background: #f78282;
}

.table tbody tr td.started {
	background: #8b9cff;
}

.table tbody tr:hover td.started {
	background: #8b9cff;
}

.table tbody tr td.finished {
	background: #9aff9b;
}

.table tbody tr:hover td.finished {
	background: #9aff9b;
}

*/